---
import { actions, ActionError } from "astro:actions";
import { db, Idea } from "astro:db";
import Callout from "../components/callout.astro";
import Layout from "../layouts/default.astro";
import IdeaList from "../components/idea-list.astro";

export const prerender: boolean = false;

const loggedIn = Astro.cookies.get("logged-in")?.boolean() || false;
if (!loggedIn) {
	return Astro.redirect("/login");
}

interface Idea {
	id: number;
	text: string;
	good: boolean;
}

const headTitle: string = "Ideas 💡";
const pageTitle: string = "💡 I'm The Idea Guy, Bay-bee!! 💡";
const ideas: Idea[] = await db.select().from(Idea);

type SaveActionResult = {
	success: { data: undefined; error: ActionError<never> };
	data: Idea | null;
	error?: string;
};

const result: SaveActionResult = Astro.getActionResult(actions.ideas.save);
---

<Layout headTitle={headTitle} pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>

	<form action="/api/toggle-auth" method="post">
		<button type="submit">Log Out</button>
	</form>

	<section class="idea-form box">
		{
			result && !result.error ? (
				<Callout icon="✅" iconDescription="green checkbox">
					<p>{result.data}</p>
				</Callout>
			) : null
		}

		{
			result && result.error ? (
				<Callout icon="🚨" iconDescription="flashing red alarm">
					<p>{result.error}</p>
				</Callout>
			) : null
		}

		<form method="POST" action={actions.ideas.save}>
			<label for="text">
				<h3>Idea:</h3>
				<input type="text" id="text" name="text" />
			</label>

			<fieldset>
				<legend><h3>Is this Idea Any Good?</h3></legend>
				<label for="yes">
					<input type="radio" id="yes" name="good" value="true" />
					Yes
				</label>
				<label for="no">
					<input type="radio" id="no" name="good" value="false" />
					No
				</label>
			</fieldset>
			<button type="submit">Add Idea</button>
		</form>
	</section>

	<section class="list flex">
		<IdeaList title="Good Ideas 💡" ideas={ideas.filter((idea) => idea.good)} />
		<IdeaList title="Bad Ideas 💩" ideas={ideas.filter((idea) => !idea.good)} />
	</section>
</Layout>
