---
import { Image } from "astro:assets";

export interface Props {
	pokemon: string;
}

const { pokemon }: Props = Astro.props;

const response: Response = await fetch(
	`https://pokeapi.co/api/v2/pokemon/${pokemon}`
);

if (!response.ok) {
	throw new Error(`Failed to fetch ${pokemon}.`);
}

const pokemonData = await response.json();
---

<a href={`/pokemon/${pokemonData.name}`}>
	<Image
		src={pokemonData.sprites.front_default}
		alt={pokemonData.name}
		width="100"
		height="100"
	/>
	<span>{pokemonData.name}</span>
</a>

<style>
	a {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-decoration: none;

		img {
			block-size: 100px;
			display: block;
			inline-size: 100px;
		}
	}
</style>
